Las librerías que se usan en R son: 
- tidyverse: se usa para DS
- tidymodels: se usa para ML

In [3]:
##install.packages(c("tidyverse", "tidymodels"))

In [4]:
suppressWarnings(if(!require("pacman")) install.packages("pacman"))
pacman::p_load(tidyverse, tidymodels) #chequea si están los packages instalados

Loading required package: pacman

In [9]:
#Import el dataset
diabetes <- read_table(file = "https://www4.stat.ncsu.edu/~boos/var.select/diabetes.rwrite1.txt")


# Get a glimpse and dimensions of the data
glimpse(diabetes)


# Select the first 5 rows of the data
diabetes %>% 
  slice(1:5)

── Column specification ────────────────────────────────────────────────────────
cols(
  age = col_double(),
  sex = col_double(),
  bmi = col_double(),
  map = col_double(),
  tc = col_double(),
  ldl = col_double(),
  hdl = col_double(),
  tch = col_double(),
  ltg = col_double(),
  glu = col_double(),
  y = col_double()
)

Rows: 442
Columns: 11
$ age <dbl> 0.038075906, -0.001882017, 0.085298906, -0.089062939, 0.005383060,…
$ sex <dbl> 0.05068012, -0.04464164, 0.05068012, -0.04464164, -0.04464164, -0.…
$ bmi <dbl> 0.061696207, -0.051474061, 0.044451213, -0.011595015, -0.036384692…
$ map <dbl> 0.021872355, -0.026327835, -0.005670611, -0.036656447, 0.021872355…
$ tc  <dbl> -0.044223498, -0.008448724, -0.045599451, 0.012190569, 0.003934852…
$ ldl <dbl> -3.482076e-02, -1.916334e-02, -3.419447e-02, 2.499059e-02, 1.55961…
$ hdl <dbl> -0.043400846, 0.074411564, -0.032355932, -0.036037570, 0.008142084…
$ tch <dbl> -0.002592262, -0.039493383, -0.002592262, 0.034308859, -0.00259226…
$ ltg <dbl> 0.019908421, -0.068329744, 0.002863771, 0.022692023, -0.031991445,…
$ glu <dbl> -0.017646125, -0.092204050, -0.025930339, -0.009361911, -0.0466408…
$ y   <dbl> 151, 75, 141, 206, 135, 97, 138, 63, 110, 310, 101, 69, 179, 185, …

  age          sex         bmi         map          tc           ldl
1  0.038075906  0.05068012  0.06169621  0.021872355 -0.044223498 -0.03482076
2 -0.001882017 -0.04464164 -0.05147406 -0.026327835 -0.008448724 -0.01916334
3  0.085298906  0.05068012  0.04445121 -0.005670611 -0.045599451 -0.03419447
4 -0.089062939 -0.04464164 -0.01159501 -0.036656447  0.012190569  0.02499059
5  0.005383060 -0.04464164 -0.03638469  0.021872355  0.003934852  0.01559614
  hdl          tch          ltg          glu          y
1 -0.043400846 -0.002592262  0.019908421 -0.017646125 151
2  0.074411564 -0.039493383 -0.068329744 -0.092204050  75
3 -0.032355932 -0.002592262  0.002863771 -0.025930339 141
4 -0.036037570  0.034308859  0.022692023 -0.009361911 206
5  0.008142084 -0.002592262 -0.031991445 -0.046640874 135